body {
    background: $background-color;
}

.instructions {
    @include displayFlex;
    align-items: center;
    height: 100vh;
    div {
        @include displayFlex;
        align-items: center;
        height: 75vh;
        width: 75vw;
        background: $secondary-color;
        border-radius: 5%;
        h3 {
            @include fontSize(4rem);
            text-align: center;
        }
        li {
            @include fontSize(2rem);
            text-transform: none;
        }
        button {
            border: 3px solid $font-color;
        }
    }
}

h1 {
    @include fontSize(5rem);
    text-align: center;
    line-height: normal;
}

.buttons {
    text-align: center;
}

button {
    @include fontSize(3rem);
    border: none;
    background: $secondary-color;
    margin: 5px 10px;
    &:hover {
        opacity: .5;
    }
    border-radius: 5%;
}