body {
    background: $background-color;
}

.instructions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    div {
        height: 75vh;
        width: 75vw;
        background: $secondary-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5%;
        h3 {
            font-size: 4rem;
            text-transform: uppercase;
            text-align: center;
        }
        li {
            font-size: 2rem;
            line-height: 1.6;
        }
        button {
            border: 3px solid $font-color;
        }
    }
}

h1 {
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    line-height: normal;
}
