body {
    background: $background-color;
    position: relative;  
}

body::after {
    content: "";
    background-image: url(./../asset/PngItem_122309.png);
    background-size: 60vh;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.instructions {
    @include displayFlex;
    align-items: center;
    min-height: 100vh;
    div {
        @include displayFlex;
        align-items: center;
        height: 75vh;
        width: 75vw;
        background: $secondary-color;
        border-radius: 5%;
        h3 {
            @include fontSize(4rem);
            text-align: center;
        }
        li {
            @include fontSize(2rem);
            text-transform: none;
        }
        button {
            border: 3px solid $font-color;
        }
    }
}

// h1 {
//     @include fontSize(5rem);
//     text-align: center;
//     line-height: normal;
// }

// .space {
//     height: 20vh;
// }

.buttons {
    text-align: center;
}

button {
    @include fontSize(3rem);
    border: none;
    background: $secondary-color;
    margin: 5px 10px;
    &:hover {
        opacity: .5;
    }
}

.mainDiv {
    @include displayFlex;
    min-height: 95vh;
}