.dealerCard1,
.dealerCard2,
.dealerCard3,
.playerCard1,
.playerCard2,
.playerCard3{
    height: 230px;
    width: 165px;
    margin: 5px 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background: $secondary-color;
    border-radius: 5%;
}

.dealerCards,
.playerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 4rem;
    .suits {
        align-self: center;
        font-size: 6rem;
    }
    .value {
        align-self: end;
        padding-right: 10px;
    }
}

.cardRed {
    color: red;
}

.dealerWins,
.playerWins {
    text-align: center;
    font-size: 2.2rem;
    color: $accent-color;
}

// flipped card
.flipCard {
    background-color: transparent;
    height: 230px;
    width: 165px;
    margin: 5px;
    border-radius: 5%;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.flipCardFront {
    height: 230px;
    width: 165px;
    img {
        border-radius: 5%;
    }
}

.flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flipCardBack {
    transform: rotateY(180deg);
    margin: -5px 10px 10px 10px;
} 

.flipped {
    transform: rotateY(180deg);
}