.dealerCard1,
.dealerCard2,
.dealerCard3,
.playerCard1,
.playerCard2,
.playerCard3{
    @include cardHeightWidth;
    @include displayFlex;
    justify-content: space-between;
    margin: 5px 10px;
    padding-left: 10px;
    background: $secondary-color;
}

.dealerCards,
.playerCards {
    @include displayFlex;
    flex-direction: row;
    @include fontSize(4rem);
    .suits {
        align-self: center;
        @include fontSize(6rem);
    }
    .value {
        align-self: end;
        padding-right: 10px;
    }
}

.cardRed {
    color: $card-color;
}

.dealerWins,
.playerWins {
    text-align: center;
    @include fontSize(2.2rem);   
    color: $accent-color;
}

// flipped card
.flipCard {
    @include cardHeightWidth;
    background-color: transparent;
    margin: 5px;
}

.flipCardInner {
    position: relative;
    height: 100%;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.flipCardFront {
    @include cardHeightWidth;
    img {
        border-radius: 5%;
    }
}

.flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
}

.flipCardBack {
    transform: rotateY(180deg);
    margin: -5px 10px 10px 10px;
} 

.flipped {
    transform: rotateY(180deg);
}