$background-color: #306b34;
$secondary-color: #ffffff;
$font-color: #000000;
$accent-color: #000000;
$card-color: red;

@mixin cardHeightWidth{
    height: 230px;
    width: 165px;
    border-radius: 5%;
}

@mixin displayFlex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

@mixin fontSize($size) {
    font-size: $size;
    text-transform: uppercase;
}

/* stripping style */
body, 
h1, 
h2, 
h3,  
ul, 
p{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
    color: $font-color;
}

img {
    max-width: 100%;
    height: 100%;
    display: block;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

body {
    font-family: 'Russo One', sans-serif;
    line-height: 1.6;
}


